/* General Styles */
body *{ font-family: Arial,Helvetica,sans-serif; font-size:12px; }
.div_box{ padding:10px; }

/* calendar */
#ui-datepicker-div{ border:1px solid #666; box-shadow:0px 0px 10px #777; }
.ui-datepicker-title span{ font-weight:bold; }
.ui-datepicker-calendar span{ font-weight:normal; }
.ui-widget-header{ background:none; border:none; background-color:rgb(244,244,245); border-radius:0px; margin:0 5px 0 3px; line-height:1.167em; }
.ui-widget-header .ui-state-disabled{ display:none; }
.ui-datepicker-header{ color:#333; }
.ui-datepicker .ui-datepicker-header{ padding:0px; }
.ui-widget-header .ui-icon-circle-triangle-w{ background:url('http://www.tnetnoc.com/static/28.68.9/image/brand/hcl/action-prev-md.png'); }
.ui-widget-header .ui-icon-circle-triangle-e{ background:url('http://www.tnetnoc.com/static/28.68.9/image/brand/hcl/action-next-md.png'); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background:none; border:none; margin:2px 0px; text-align:center; }
.ui-state-default:hover, .ui-state-default:focus{ background-color:rgb(233,230,238)/*#E0E0E0*/; }
.ui-datepicker-calendar tr td span{ color:rgb(102,102,102) !important; font-weight:normal !important; }
.ui-datepicker-calendar tr td span:hover{ background:none; }
.ui-datepicker-calendar tr td a{ color:rgb(86,45,130) !important; }
.ui-datepicker-calendar tr td a:focus,.ui-datepicker-calendar tr td a:hover{ color:rgb(86,45,130) !important; }
.ui-datepicker-calendar tr th{ border-bottom:1px solid rgb(204,204,204); padding:3px; text-align:center; }
.ui-datepicker-group-left{ border:none !important; }
.ui-datepicker-current{ display:none; }
.ui-datepicker-buttonpane{ text-align:center; margin-top:0px !important; border-top:1px solid rgb(204,204,204) !important;}
.ui-datepicker .ui-datepicker-buttonpane{ width:97%; margin-left:7px; }
.ui-datepicker .ui-datepicker-buttonpane button{ float:none; font-weight:normal; color:#000; font-size:91.7%; margin:0.4em 0.2em 0.2em; }
.ui-datepicker-close:hover, .ui-datepicker-close:focus{ background:none; }
.ui-datepicker-header a{ cursor:pointer; }
.ui-datepicker-header a:hover, .ui-datepicker-header a:focus{ background:none; border:none; }
.ui-datepicker .ui-datepicker-prev-hover{ top:2px; left:2px; }
.ui-datepicker .ui-datepicker-next-hover{ top:2px; right:2px; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ background-color:rgb(244,244,245)/*#E6F9FC*/; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{ color:#FEFEFE !important; background-color:#562D82; }
.ui-widget-content .ui-state-active:focus, .ui-widget-content .ui-state-active:hover{ background-color:#EAEAEA; }
.ui-datepicker-multi-2 .ui-datepicker-group, .ui-datepicker-multi-3 .ui-datepicker-group{ border-right:1px solid rgb(204,204,204); margin-top:5px; padding:0 2px 3px 4px; height:210px; }
.ui-datepicker-multi-2 .ui-datepicker-group{ width:48.5%; }
.ui-datepicker-multi-3 .ui-datepicker-group{ width:32.3%; }
.ui-datepicker-group-last{ border:none !important; }
.ui-datepicker-calendar tr th span{ font-size:83.3%; color:rgb(102,102,102); }
.ui-state-disabled{ color:red !important; }
.ui-datepicker .ui-datepicker-title{ line-height:37px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{ margin-top:-3px; }
.ui-datepicker{ padding:3px; }
.ui-widget{ font-size:0.84em !important; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{ opacity:0.9; filter:alpha(opacity=90); }