body{ font-size:12px; font-family:Arial,Helvetica,sans-serif; }
body,li{ line-height:1.167em; }
.subContainer{ border:1px solid blue; padding:10px; }
.container {max-width: 990px;}
ul{ list-style:none; margin:0; padding:0; }
#header{ line-height:1.167em; font-size:11px; }
#header ul.primary{ float:right; padding:15px 15px 0 0; }
#header ul.primary li{ border-right:0.083em solid #000000; float:left; padding:0 9px; }
#header ul.primary .last{ border:0px solid #CCCCCC; padding-right:0px; }
#header a, #footer a{ text-decoration:none; }
#header a:hover, #footer a:hover{ text-decoration:underline; }
a, a:link, .link{ color:#562D82; }
.link{ cursor:pointer; padding-bottom:0; }
#header ul.login{ clear:right; float:right; padding:10px 15px 0 0; }
#header ul.login li{ float:left; padding:0 0.25em; color:#333333; }
#header li.loyaltyInfo{ font-weight:bold; }
.logo{ padding-left:20px; }

#headMenu{ font-size:13px; border-bottom:5px solid #E21E28; padding-right:25px; }
#headMenu ul{ list-style-type:none; margin:0; }
.left_menu li{ float:left; padding:5px 0 0; }
.left_menu li{ text-align:left; min-width:134px; margin-right:10px; }
.left_menu li, .right_menu > li{ border-top:2px solid #E21E28; }

.nav > li > a{ display:inline; padding-right:3px; }
.navbar-nav > li > a{ padding-top:5px; padding-bottom:5px; }

#footMenu .footerLinks > li{ border-right:0.083em solid #000000; float:left; list-style:none; margin:0.083em; }
#footMenu .footerLinks > li a{ padding:4px; }
#foot_img{ float:left; padding-right:10px; }

/* Banner Subcontainer*/

#campaignHeader {
    background: url("../img/HC_201301014_Major_Holiday_958_EN.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 390px;
    margin: 0 0 0 1px;
    width: 958px;
    z-index: 1;
}
.clear {
    clear: both;
}
/*Search Widget */
#searchBot {
    background: url("../img/trim-gradients.png") repeat-x scroll 0 0 #E9E6EE;
    border: 0.167em solid #E9E6EE;
    height: 250px !important;
    left: 38px;
    padding: 10px;
    position: absolute;
   
    width: 220px;
    z-index: 2;
}

#searchBot .where {
    margin-left: 0;
    margin-top: 0;
    position: relative;
}

#searchBot .where input {
    width: 200px;
}

#searchBot input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #999999 #CCCCCC #CCCCCC #999999;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #333333;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
  
    line-height: 1.167em;
    margin: 0 -7px 0 0;
    outline: 0 none;
    padding: 5px 6px;
    transition: box-shadow 0.17s ease 0s;
    width: 100%;
}

#searchBot .search-Button {
 background-attachment: scroll;
    background-clip: border-box;
    background-color: #5A3084 !important;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 1px solid #592F82;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 34px;
    margin-left: 109px;
    margin-top: -15px;
    padding: 3px;
    position: relative;
    text-align: center;
    width: 90px;
	}

#searchBot .line-two {
    height: 30px;
    margin-left: 0;
    margin-top: -10px;
    position: relative;
    width: 200px;
}


#searchBot .checkin {
    margin: 20px 15px 0 0;
    position: absolute;
    width: 95px;
}

#searchBot .checkout input, #searchBot .checkin input {
    width: 80px;
}


#searchBot .checkout {
    left: 120px;
    margin: 20px 0 0;
    position: absolute;
    width: 90px;
}

#searchBot .checkout input, #searchBot .checkin input {
    width: 80px;
}

#searchBot .controls {
    height: 30px;
    margin-left: 0;
    margin-top: 50px;
    position: relative;
    width: 250px;
}


#searchBot .promo-code {
    margin-left: 0;
    margin-top: 10px;
    position: relative;
}

#searchBot .promo-code input {
    width: 200px;
}


#searchBot h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    display: block;
    float: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    padding: 0;
    text-align: left;
}

#searchBot p {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 2px 0;
    text-shadow: 1px 1px 1px #FFFFFF;
}

/* Deal Tabs */

.deal-tabs {
    left: 100px;
    position: absolute;
    top: 500px;
}