	.saveBookInfo{ background:none !important; padding:0 !important; }
	#banner { padding:0 !important;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important;  }
	#banner_image { margin:0; padding-left:1.4%; z-index:999 !important; line-height: 0; }
	#banner_val { position:relative; margin-bottom:-250px; z-index:999;float:right;text-align:right;margin-right:10px; margin-top:20px;width:300px;}
	#menu_new { margin: 0; padding: 0; }
	#menu_new li {  background-color: #e21e28;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: block;
    float: left;
    font-family: museo_slab500;
    font-size: 16px;
    height: 48px;
    margin: 0;
    padding: 20px 10px 10px;
    text-align: center;
    color:#FFF !important;
    width: 20%;}
    #menu_new li a{color:#FFF !important;}
    /*#menu_new li:hover{ background-color: #FFF !important; color:#e21e28 !important;}
    #menu_new li a:hover{color:#e21e28 !important;}*/
	#menu_new li:last-child { border-right:0px; } 
	/*#menu_new li a {  background-color: #E21E28; color:#FFFFFF; text-decoration:none; font-size:12pt;}*/
	#hotel_card_block { height:auto; }
	#hotel_card_search { display:block; }
	.world_best_deals { float:left;  padding:15px 10px;font-size:11pt;font-weight:bold; margin-left:30px;}
	.hotel_all_search { float:left; text-align:right; padding:15px 0px 5px 0px;font-size:11pt;font-weight:bold; }
	.map-back { color:#FFF !important; }
	.map-reset { color:#FFF !important; }
	.map-reset-to-region { color:#FFF !important; font-family: museo_slab500 ; font-size: 14px; text-decoration: none; padding: 14px; }
	a.map-reset-to-region:hover { background-color: #E21E28; text-decoration: none }
	.hotel_main_block { background-color:#FFF; }
	#hotel_image { float:left; }
	#platinum_image{ float:left;height:10px !important;width:64px;}
	#hotel_content { float:left;margin:5px; margin-left:-52px; }
	.hotel_card_heading { color:#FFF;font-size:14pt;  }
	.hotel_name a { color:#E21E28; font-weight:bold; font-size:12pt; padding-bottom:10px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
	.hotel_city { color:#303030; font-size:10pt;font-weight:bold; /*margin-left:-56px;*/ }
	.hotel_review { float:right; margin-top:0px;}
	.platinum_review { float:left; margin-top:0px;}
	.hotel_cards { border: 2px solid #ddd;
    margin-bottom: 20px;
    margin-left: 12px;
	height:151px;
	background-color:#fff;
    /*margin-right: 46px;*/
	padding:0px !important;}
	.hotel_gold_cards { border: 4px solid #999;
    margin-bottom: 20px;
    margin-left: 12px;
	height:151px;
	background-color:#fff;
    /*margin-right: 46px;*/
	padding:0px !important;}
	.hotel_cards_heading { padding:5px; }
	.font_red { font-size:8pt !important; }
	#footer_new { box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1) !important; margin-bottom:20px; }
	.search_footer { border:4px solid #EEEEEE; margin:10px; padding:20px; }
	.search_not_found { font-size:11pt;font-weight:bold; }
	.search_footer_head { margin:10px 10px 10px 0; }
	.search_input_footer { background: white; border: 1px double #DDD;border-radius: 5px; box-shadow: 0 0 5px #333; color: #666; outline: none; height:25px; width: 100%;} 
	.search_plus { float:right; }
	.search_hotel_near{ padding:10px 10px 10px 0; font-size:10pt; color:#666; cursor: pointer;}	
	/*.banner_world_map {float:left;margin-left:-170px !important; z-index:0 !important;top:0;left:0;}*/
	#canvas{float:left;margin-left:-170px !important; z-index:0 !important;top:0;left:0; }
	
	@font-face {
    font-family: "SerifaStd55Roman";
    src: url('../common/font/SerifaStd-Roman.otf');
    url('../font/SerifaStd-Roman.otf') format('opentype');
}
@font-face {
    font-family: "SerifaStd55Light";
    src: url('../common/font/SerifaStd-Light.otf');
    url('../font/SerifaStd-Light.otf') format('opentype');
}
/*New Font Family*/
@font-face {
    font-family: 'museo_sans300';
    src: url('../../common/font/museosans-300-webfont.eot');
    src: url('../../common/font/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../common/font/museosans-300-webfont.woff') format('woff'),
         url('../../common/font/museosans-300-webfont.ttf') format('truetype'),
         url('../../common/font/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans500';
    src: url('../../common/font/museosans_500-webfont.eot');
    src: url('../../common/font/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../common/font/museosans_500-webfont.woff') format('woff'),
         url('../../common/font/museosans_500-webfont.ttf') format('truetype'),
         url('../../common/font/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_slab500';
    src: url('../../common/font/museo_slab_500-webfont.eot');
    src: url('../../common/font/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../common/font/museo_slab_500-webfont.woff') format('woff'),
         url('../../common/font/museo_slab_500-webfont.ttf') format('truetype'),
         url('../../common/font/museo_slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* reponsive design - starts */
@media(max-width:767px){.container{ padding:0;}.row{margin:0px !important;} #hotel_content{ margin:0px !important; padding-left: 10px !important;} .hotel_name{font-size:9pt;color:#000;} .hotel_review{float:left;}.hotel_details{padding-top: 0px !important;} .percentage{font-size:18px !important;} .hotel_cards{height:128px !important;}
#image_hotel{ height:120px !important;} .world_best_deals ,.hotel_all_search{font-size:9pt;} }
@media(min-width:768px){.container {width: 750px !important;} #hotel_content{ margin-left:1% !important; } #image_hotel{ height:114px !important;}
.display_regions{ width:19.8% !important; z-index: 999 !important; } #canvas {width:862px !important;}.tab_divider{width:100% !important;} }
@media(min-width:992px){.container {width: 990px !important;;} .col-lg-5{width:47.667%;min-height: 1px;padding-left: 15px;padding-right: 15px;position: relative;}
#vertical-scrollbar-demo {height: 305px;}}
@media(min-width:1200px){.container {width: 990px !important;;} .col-lg-5{width:47.667%;min-height: 1px;padding-left: 15px;padding-right: 15px;position: relative;}
.display_regions{ width:19.8% !important; z-index: 999 !important;#vertical-scrollbar-demo {height: 305px;} .tab_divider{width:100% !important;}} .hotel_gold_cards_list{height:157px;}
}

@media only screen
and (max-device-width: 480px) {
	.container {
		padding:0;
	}
	.subContainer{
		padding:0 !important;
		margin:0;
	}
	#mbl_member {width:55px !important;}
	#tab1, #tab2, #tab3, #tab4 { margin:10px !important;}
	.col-xs-2, .col-sm-2, .col-md-2 {margin:0 !important;padding:0 !important;}
	.campaign-promo-offer,.sign-in-member-offer{font-size:11px !important;}
	.hotelInfo h3 {
		color:#562D82;
		font-size:14px !important;
		line-height:9px;
		margin:0 0 3px;
		padding:0;
	}
	.button a{
		background-color: #562d82;
		border-radius: 5px;
		color: #fff;
		font-size: 11px !important;
		font-weight: 700;
		height: 20px;
		left: -8px;
		padding: 4px 7px !important;
		position: relative;
	}
	.region_menu .dropdown-menu {
		min-width:100% !important;
	}
	.red-line{ top:0px !important;}
	.btn-group, .btn-group-vertical { min-width:50% !important;}
	.btn-group > .btn, .btn-group-vertical > .btn {
		font-weight:bold;
	}
	.carousel-caption {
		text-shadow: none !important;
		padding:0 !important;
		top: 16px !important;
		right: 16px !important;
	}

	.carousel-caption h2 {
		font-size:20px !important;
	}

	.carousel-caption h3 {
		font-size:11px !important;
	}

	.carousel-caption h5 {
		font-size:14px !important;
	}
	div.carousel-caption h3 span {
		font-size:15px !important;
	}
	.carousel-caption h6{
		font-size:14px !important;
		font-family:SerifaStd55Roman;
	}
	#mbl_member_logo{
		width:70px !important;
	}
	.btn.button > a{
		margin-left: 12px ;
	}
	p.inclusions{
		margin:2px 0 0 10px !important;
	}
	.btn-group-vertical >.btn:hover {
		background-color:red !important;
		color:#fff;
		font-weight:bold;
	}
	.btn.btn-default.dropdown-toggle:hover {
		background-color:red !important;
		color:#fff;
		font-weight:bold;
	}
	.bread-crumb-location{
		margin-left:0px !important;
	}
	.bread-crumb-location ul.bread-crumb-Links li.bread-crumb-li a,.bread-crumb-last-li a
	{
		font-size:11px!important;
	}
	.btn.btn-default.dropdown-toggle{ min-width:100%}
	/*modified by mohan - 20141023*/
	.carousel-caption {
		 text-shadow: none !important;
		 top: 16px !important;
		 right: 16px !important;
		 left:32% !important;
		 padding:0 !important;		
	}
	.deal_text1{
		font-size:125%!important;
		line-height:12px !important;
		padding:7px !important;
	}
	.deal_text2{
		font-size:100%!important;
		line-height:12px !important;
		padding:4px 6px 6px 6px !important;
	}
	.deal_text5 {
		font-size: 100% !important;
		padding:5px !important;
		margin:5px 0 0 0 !important;
	}
	.deal_text6 {
		font-size: 85% !important;
		padding:5px 10px 5px 10px !important;
		margin:5px 0 0 0 !important;
	}
	/*modified by mohan - 20141023*/
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) {
.btn-group-vertical >.btn:hover {
		background-color:red !important;
		color:#fff;
		font-weight:bold;
	}
	.btn-group > .btn, .btn-group-vertical > .btn {
		font-weight:bold;
	}
	.container {
		padding:0;
	}
	.subContainer{
		padding:0 !important;
		margin:0;
	}
	#tab1, #tab2, #tab3, #tab4 {margin:10px !important;}
	.col-xs-2, .col-sm-2, .col-md-2 {margin:0 !important;padding:0 !important;}
	.campaign-promo-offer,.sign-in-member-offer{font-size:11px !important;}
	.hotelInfo h3 {
		color:#562D82;
		font-size:14px !important;
		line-height:9px;
		margin:0 0 3px;
		padding:0;
	}
	.button a{
		background-color: #562d82;
		border-radius: 5px;
		color: #fff;
		font-size: 11px !important;
		font-weight: 700;
		height: 20px;
		left: -8px;
		padding: 4px 7px !important;
		position: relative;
	}
	.region_menu .dropdown-menu {
		min-width:100% !important;
	}
	.red-line{ top:0px !important;}
	.btn.button > a{
		margin-left: 12px ;
	}
	p.inclusions{
		margin:2px 0 0 10px !important;
	}
	.btn.btn-default.dropdown-toggle{ min-width:100%}
	.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
		background-color:red !important;
		color:#fff;
		font-weight:bold;
	}
	.carousel-caption h2 {
		font-size:20px !important;
	}

	.carousel-caption h3 {
		font-size:11px !important;
	}

	.carousel-caption h5 {
		font-size:14px !important;
	}
	div.carousel-caption h3 span {
		font-size:15px !important;
	}
	.carousel-caption h6{
		font-size:14px !important;
		font-family:SerifaStd55Roman;
	}
	/*modified by mohan - 20141023*/
	.carousel-caption {
		 text-shadow: none !important;
		 top: 29px !important;
		 right: 29px !important;
		 left:32% !important;
		 padding:0 !important;
	}
	.deal_text1{
		font-size:125%!important;
		line-height:12px !important;
		padding:7px !important;
	}
	.deal_text2{
		font-size:100%!important;
		line-height:12px !important;
		padding:4px 6px 6px 6px !important;
	}
	.deal_text5 {
		font-size: 100% !important;
		padding:5px !important;
		margin:5px 0 0 0 !important;
	}
	.deal_text6{
		font-size: 85% !important;
		padding:5px 10px 5px 10px !important;
		margin:5px 0 0 0 !important;
	}
	/*modified by mohan - 20141023*/
	.world_best_deals ,.hotel_all_search{font-size:11pt;} 
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
#canvas {
width:862px !important;
}
	.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
		background-color:red !important;
		color:#fff;
		font-weight:bold;
	}
	.btn-group > .btn, .btn-group-vertical > .btn {
		font-weight:bold;
	}
	.region_menu .dropdown-menu {
		min-width:50% !important;
	}
	.red-line{ top:0px !important;}
	.btn-group, .btn-group-vertical { min-width:50% !important;}
	.region_menu .dropdown-menu {
		min-width: 99% !important;
	}
	.hotelDeal .row #image_section.image_section a .hotel-image-text {width:68%!important;}
	.btn.btn-default.dropdown-toggle{ min-width:100%}
}

@media only screen 
and (min-device-width : 481px) 
and (max-device-width : 767px) 
{
	.btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
		background-color:red !important;
		color:#fff;
		font-weight:bold;
	}
	.region_menu .dropdown-menu {
		min-width:50% !important;
	}
	.red-line{ top:0px !important;}
	.btn-group, .btn-group-vertical { min-width:50% !important;}
	.region_menu .dropdown-menu {
		min-width: 99% !important;
	}
	.carousel-caption {
		text-shadow: none !important;
		top: 36px !important;
		right: 36px !important;
		left:40% !important;
		padding:0 !important;
	}
	.carousel-caption h2 {
		font-size:30px !important;
	}
	.carousel-caption h3 {
		font-size:25px !important;
	}
	.carousel-caption h5 {
		font-size:14px !important;
	}
	div.carousel-caption h3 span {
		font-size:25px !important;
	}
	.carousel-caption h6{
		font-size:14px !important;
	}
}
/* reponsive design - ends */

body{ font-size:12px; line-height:1.167em; padding:0px; margin:0px; }
/* .container{ width:1024px !important;} */
.subContainer{ border-left:1px solid #CCC; border-right:2px solid #CCC; padding:10px; }

ul{ list-style:none; margin:0; padding:0; }

li{ line-height:1.167em; }

/* desktop version - starts */
#dkt_header { line-height: 1.167em; font-size: 11px; }

#dkt_header ul.primary{ float: right; padding: 15px 15px 0 0; }

#dkt_header ul.primary li{ border-right: 0.083em solid black; float: left; padding: 0 9px; }

#dkt_header ul.primary .last{ border: 0px solid #CCCCCC; padding-right: 0px; }

#dkt_header ul.login{ clear: right; float: right; padding: 10px 15px 0 0; }

#dkt_header ul.login li{ float: left; padding: 0 0.25em; color: #333333; }

#dkt_header li.loyaltyInfo{ font-weight: bold; }

#dkt_header a, #footer a{ text-decoration: none; }

#dkt_header a:hover, #footer a:hover{ text-decoration: underline; }

a, a:link, .link{ color: #562d82; }

.link{ cursor: pointer; padding-bottom: 0; }

.logo{ padding-left: 10px; float: left; }

#headMenu{ font-size: 13px; border-bottom: 5px solid #E21E28; padding-right: 25px; }

#headMenu ul{ list-style-type: none; margin: 0; }

.left_menu li{ float: left; padding: 5px 0 0; text-align: left; min-width: 134px; margin-right: 10px; }

.left_menu li, .right_menu > li{ border-top: 2px solid #E21E28; }

.nav > li > a{ display: inline; padding-right: 3px; }

.navbar-nav > li > a{ padding-top: 2px; padding-bottom: 5px; }

/*.row{ margin-left:0px !important; }*/

.footerLinks > li{ border-right: 0.083em solid #000000; float: left; list-style: none; margin: 0.083em; }

.footerLinks > li a{ padding: 4px; }

.foot_heading{ float: left; font-weight:bold; margin:0.083em 0; padding-left:0.417em; }

#foot_img{ float: left; padding-right: 10px; }

.hzondal_line{ border-top:1px solid #E21E28; }

.shadow_line{ border-bottom:1px solid #DDD; box-shadow:0 3px 4px #DDD; margin-bottom:5px; }

#footSectionLink .row{ padding:5px 5px 5px 10px; }

#footSectionLink ul{ padding:0 0 15px 10px; border-left:1px solid #E21E28; min-height:150px; }

#footSectionLink span{ color:#E21E28; font-size:14px; }

#footSectionLink a{ color:#000; font-size:11px; }

#footSectionLink .desti_heading{ font-weight:bold; text-decoration:underline; color:#562D82; }

/* desktop version - ends */
/**************Desktop-2*********/
#banner {
    z-index:1;
}
.glyphicon-earphone {
    border:1px solid #5A3084;
    line-height:3;
    border-radius:32px;
    width:40px;
    margin-left:12px;
}
#dkt_banner .deal-tabs {
    left:10px;
    position:relative;
    top:-31px;
}
#dkt_banner .nav-tabs {
    border:0 solid #CCC;
}
#dkt_banner .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
    border:none;
    border-color:none;
}
ul.level2 li.dropdown-submenu,ul.level3 li.dropdown-submenu {
	width:100%;
}
#dkt_banner div#regionTabs div#deal-tabs.tabbable div.dropdown ul.level2 li.dropdown-submenu a{
    background-color:#f4f4f5 !important;
	color:#333!important;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:12px!important;
    margin:0 4px 0 2px;
    padding:13px 13px;
	border-bottom: 1px solid black;
	
}
#dkt_banner div#regionTabs div#deal-tabs.tabbable div.dropdown ul.level3 li.dropdown-submenu a{
	background-color:#f4f4f5 !important;
	color:#333!important;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:12px!important;
    margin:0 4px 0 0;
    padding:13px 13px;
}
#dkt_banner div#regionTabs div#deal-tabs.tabbable div.dropdown ul.level2 li.dropdown-submenu a:hover {
    background-color:#ccc!important;
    color:#000!important;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:12px !important;
    margin:0 4px 0 0;
    padding:13px 13px;
}
#dkt_banner div#regionTabs div#deal-tabs.tabbable div.dropdown ul.level3 li.dropdown-submenu a:hover {
    background-color:#ccc!important;
    color:#000!important;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:12px!important;
    margin:0 4px 0 0;
    padding:13px 13px;
}
/*.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/* #dkt_banner .dropdown-menu{ background-color:#ffffff !important; } */
#dkt_banner #regionTabs .dropdown ul.dropdown-menu {
    min-width:auto;
    top:-17px;
    padding:0;
}
#dkt_banner #regionTabs #deal-tabs .desktop-tabs {
    background-color:transparent!important;
    border:none!important;
}
#dkt_banner #regionTabs .dropdown ul.level2 {
    float:left;
    left:0;
    position:absolute;
    top:52px;
    padding:0;
	background-color:#f4f4f5 !important;
	border:1px solid #e21e28;
}
#dkt_banner #regionTabs .dropdown ul.level3 {
    float:left;
    left:143px;
    position:absolute;
    top:14px;
    padding:0;
	background-color:#f4f4f5 !important;
	border:1px solid #e21e28;
}
.red-line {
    border-top:5px solid #E21E28;
    height:5px;
    position:relative;
    top:0px;
}
.tab-content {
    position:relative;
    /*top:-32px;
    left:-10px;*/
}
#tab1,#tab2,#tab3,#tab4 {
    margin:24px;
}
.hotelDeal {
    border-bottom:1px solid #EEE;
    border-right:1px solid #EEE;
    margin-bottom:9px;
    padding:3px;
	height:155px;
}
.image_section {
    height:120px;
    left:0;
    position:relative;
    top:0;
    float:left;
}

.container #hotelList.subContainer .row .tab-content #tab1.tab-pane .hotelDeal .row .middle-offer-section {
    height:auto;
    max-width:auto;
    overflow:hidden;
    padding-left:10px;
    position:relative;
    float:left;
}
/* div#banner a div.purple-color{
    height: 100% !important;
    overflow: hidden;
    padding-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:69%;
} */
.purple-color {
    color: #562d82;
    font-weight: 700;
	line-height:1em;
}
.campaign-promo-offer {
    font-size:12px;
    font-weight:700;
    line-height:1.1em!important;
    word-wrap:break-word;
    margin:0;
    padding:3px 0;
}
.hotelInfo{
    float:left;
    vertical-align:middle;
    width:auto;
    margin:8px 0 1px;
}
.hotelInfo h3 {
    color: #562d82;
    font-size: 15px;
    line-height: 9px;
    margin: 0 0 3px;
    padding: 0;
}
.container #hotelList.subContainer .row .tab-content #tab1.tab-pane .hotelDeal .row .middle-offer-section .hotelInfo h3 {
    color:#562D82;
    font-size:15px;
    line-height:9px;
    margin:0 0 3px;
    padding:0;
}
.saveBookInfo {
    background:url('http://www.hotelclub.com/Ad-unit/images/dealshadow.gif') no-repeat scroll 0 0 rgba(0,0,0,0);
    color:#E21E28;
    font-size:12px;
    font-weight:700;
    height:auto;
    max-width:auto;
    line-height:16px;
    position:relative;
    text-align:center;
    float:right;
    padding:0 0 0 20px;
	}
.percentage {
    color:#E21E28;
    font-size:24px;
    letter-spacing:-2px;
    line-height:24px;
    text-align:center;
}
p.inclusions {
    color:#999;
    font-size:10px;
    font-weight:400!important;
    margin:2px 0 0;
    padding:0;
}
.hotelDeal .row #image_section.image_section a .hotel-image-text {
    background-image:url('http://www.hotelclub.com/Ad-unit/images/ce_location_background.png');
    height:20px;
    left:0;
    position:relative;
    top:-19px;
	width:100%;
}
.hotelDeal .row #image_section.image_section a .hotel-image-text .location-text{
    color:#FFF;
    left:5px;
    max-height:20px;
    overflow:hidden;
    position:relative;
    top:0;
}
.ce-star {
    background: url("http://www.hotelclub.com/ad-unit/images/ce-hotelstar-brand.png") no-repeat scroll 0 50% transparent;
    float:right;
    margin-top:-12px;
    position:relative;
    text-indent:-10000em;
    left:0px;
}

.button a {
    background-color:#562D82;
    border-radius:5px 5px 5px 5px;
    color:#FFF;
    font-size:12px;
    font-weight:700;
    height:20px;
    left:-8px;
    position:relative;
    text-decoration:none;
    padding:5px 10px;
}
/**************Desktop-2*********/
/* mobile version - starts */
#mbl_header{ background-color: #ECECEC; box-shadow:2px 2px 2px #CCC; border-bottom:1px solid #CCC; }


#mbl_menu_logo, #mbl_member_logo, #mbl_brief_logo{ position:relative; cursor:pointer; display:block; background-repeat:no-repeat; }

#mbl_menu_logo{ background-position:0px 0px; border-right:1px solid #CCC; }

#mbl_main_logo{ height:60px; display:block; }
#mbl_main_logo > img{ padding:14px; }

#mbl_member_logo{ background-position:0px -175px; border-left:1px solid #CCC; text-align:right;/* width:120px; padding:25px 2px 0;*/ text-decoration:none; font-size:14px; }

#mbl_menu_logo:active, #mbl_menu .open > a, #mbl_member_logo:active, #mbl_member .open > a { background-color: #B4B4B4; color:#FFF !important; text-shadow:2px 2px 1px rgba(0,0,0,0.4); box-shadow:0 3px 3px #555 inset; }

#mbl_menu .dropdown-menu, #mbl_member .dropdown-menu{ margin:0px; border:none; }

.offscreen{ position:absolute !important; clip:rect(1px,1px,1px,1px) !important; }

#mbl_brief_logo{ background-position:0px -55px; border-left:1px solid #CCC; }

#mbl_logo img{ width:175px; }

#mbl_menu, #mbl_logo{ float: left; }

#mbl_menu, #mbl_logo, #mbl_member{ min-height: 60px; text-align: center; vertical-align: middle; }

#mbl_member{ float: right; cursor: pointer; width:68px; }

#tab_briefcase{ float: left; cursor: pointer; width: 5%; }

#mbl_brief_member{ float:right; }

#search_widget{ margin:3px 0px; border: 1px solid #CCC; background-color: #F5F5F5; box-shadow: 3px 1px 2px #CCC; }

.panel{ box-shadow: none; }

.panel-heading{ padding:10px 0px; }

.clear{ clear: both; height:0px; }

.dropdown-menu{ text-align: left; }

.dropdown-menu{ background-color:#FFF; }

.main_left_menu{ border-radius:0 0 10px 0;background-color:#B4B4B4;  }

.main_right_menu{ border-radius:0 0 0 10px; background-color:#B4B4B4;  }

#mbl_header .dropdown-menu{ box-shadow:none; }

#mbl_header .dropdown-menu > li > a{ margin:10px; padding:5px; border-bottom:1px solid #909090; color:#FFF; font-size:17px; font-weight:bold; text-shadow:2px 2px 1px rgba(0,0,0,0.4); }
#mbl_header .dropdown-menu > li > a{ background-color:#B4B4B4 !important; }
#mbl_header .dropdown-menu > li > a:hover{ background-color:#B4B4B4; }

.horiz_border{ border-bottom: 1px solid #909090; }

.no_horiz_border{ border-bottom:none !important; }

.lang_menu_icon, .curr_menu_icon, .customer_menu_icon{ width:25px; background-image:url('../img/icon-menu-sprite.png'); background-repeat:no-repeat; }

.lang_menu_icon{ background-position:-10px -348px; }

.curr_menu_icon{ background-position:-10px -374px; }

.customer_menu_icon{ background-position:-10px -399px; }

#mbl_banner table tr td:first-child{ border-right: 1px solid #CCC; }
#phone_footer{ text-align:center; padding:10px; }
/* mobile version - ends */
/************mobile2*************/
#mbl_banner .modal-content {
    background-color:#E6E1EB;
}
#mbl_banner div#accordion.panel-group div.panel div.panel-heading a {
    background-color:#FFF;
    color:#562D82;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:11px;
    margin:0 4px 0 0;
    padding:7px;
}
.btn-search {
    background-color:#5A3084;
    color:#fff;
    font-weight:700;
    float:right;
    border-color:#5B3280;
}
#mbl_banner .checkdate {
    width:50%;
    float:left;
}
#mbl_banner .controls {
	margin:0 0 35px;
}
.glyphicon-arrow-right {
    padding:1px;
}
.nav .caret {
    border-top-color:red;
}
.right-caret {
    border-bottom:4px solid transparent;
    border-top:4px solid transparent;
    border-left:4px solid red;
    display:inline-block;
    height:0;
    opacity:1;
    vertical-align:top;
    width:0;
    margin:3px 0 0 3px;
}
li.dropdown-submenu.level1 a.menu-icons span.caret{ left: 100%;
    position: relative;
    right: 0;
    top: -12px;
	border-top: 4px solid !important;
	border-right: 4px solid transparent !important;
	border-left: 4px solid transparent !important;
	border-style:solid !important;
}
.caret{
    left:0;
    top:0;
    border-top: 4px solid !important;
	border-right: 4px solid transparent !important;
	border-left: 4px solid transparent !important;
	border-style:solid !important;
}
#mbl_banner .modal-dialog .dropdown-menu{
    background-color:#FFFFFF;
    TEXT-ALIGN: center;
    }
#mbl_banner .modal-body{
	width:100%;
	height: auto;
}
#mbl_banner ul.nav li a {
    background-color:#FFF;
    color:#562D82;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:12px;
    margin:0 4px 0 0;
    padding:7px;
}
#mbl_banner ul.level2 {
    border-color:red;
}
#mbl_banner ul.level2 li a:hover {
    background-color:#CCC;
    color:#000;
}
#mbl_banner li.level1 a:hover {
    background-color:#E21E28;
    color:#FFF;
}
#mbl_banner .dropdown-menu > li > a {
    font-size:14px;
    font-weight:700;
    height:3em;
    text-align:left;
    width:100%;
}
#mbl_banner .menu-glyphicon {
	top:-16px;
	position:relative;
	left:100%;}
	#mbl_banner ul.dropdown-menu.level2 {
	left:100%;
	min-width:50%;	
}
.visible-xs body{
    padding-right:0px;
    padding-left:0px;
}
.visible-xs  .hotelCard{
    border:1px solid #CCC;width:100%;
}
.visible-xs #Phone-Itemcard .hote_image{
    float:left;width:70px;padding:3px;width:33%;
}
.visible-xs #Phone-Itemcard .middle-offer-section {
    float:left;padding:3px;width:37%;
}
.visible-xs #Phone-Itemcard .deals {
    float:left; text-align:center; border-left:1px solid #CCC; vertical-align:center; margin:7px 0;width:30%;
}
#mbl_banner div.region_menu {
display:none;
}
.visible-xs #Phone-Itemcard .rating {
    clear:both;
}
.visible-xs #Phone-Itemcard .sign-out-member-offer {
    float:left;
    position:relative;
}
.font_red {
    color:red;
}
.visible-xs #Phone-Itemcard .sign-out-member-offer p {
    color:#562D82;
    background-color:#EEEAF3;
}
.visible-xs #Phone-Itemcard .hotel-image-text {
    position:relative;
    top:0;
}
.visible-xs #Phone-Itemcard .hotel-image-text .location-text {
    color:#ccc;
    font-weight:700;
}
.visible-xs #Phone-Itemcard  .offers_rate{
    color:red; padding:3px;
}
.visible-xs #Phone-Itemcard  .offers_rate .offers_percentage {
    font-size:18px;
}
.visible-xs #Phone-Itemcard  .offers_rate p
{
    height:0;
}
.visible-xs #Phone-Itemcard  .valid_dates p {
    padding:3px;color:#CCC;
}
.visible-xs #Phone-Itemcard  .button_book{

    padding:3px;
}
.visible-xs #Phone-Itemcard .button_book a {
    background-color:#562D82;
    color:#FFFFFF;
    font-size:12px;
    font-weight:bold;
    padding:4px;
}
.visible-xs #Phone-Itemcard clearfix{
}
/************mobile2*************/
/* tablet version - starts */
#sort_by {
    margin:16px 0px 0 20px;
}
#sort_by span a {
    padding:15px;
}
/*********************/
/* tablet version - ends */

.carousel-caption {
	text-shadow: none !important;
    display: inline-block;
    float: right;
    margin: 0 !important;
    opacity: 1;
    padding: 10px;
    position: absolute;
    right: 50px;
    text-align: right;
    top: 50px;
    z-index: 1;
	font-family:SerifaStd55Roman !important;
}
.carousel-caption h2 {
	background-color:#E21E28;
	padding: 10px;
    color:#FFF !important;
	font-family:SerifaStd55Roman !important;
	font-size:32px;
}
.carousel-caption h3 {
	padding: 10px;
    color:#FFF !important;
	font-family:SerifaStd55Roman !important;
}
.carousel-caption h3 span{
	background-color:#E21E28;
}
.carousel-caption h5 {
	background-color:#E21E28;
    color:#FFF;
    font-weight:700;
	font-family:SerifaStd55Roman !important;
}
.carousel-caption h6{
	font-family:SerifaStd55Roman !important;
	background-color:#E21E28;
	padding:10px;
}	
#dkt_carousel .carousel-indicators {
    margin-bottom:3%;
}
#dkt_header li.loyaltyInfo,#mbl_banner .modal-content h5,h2 {
    font-weight:700;
}

#dkt_header a,#footer a,.hotelDeal a {
    text-decoration:none;
}
#banner #dkt_searchBot,#banner #tbt_searchBot {
    background-color:#F4F3F7;
    border:.167em solid #E9E6EE;
    position:absolute;
    z-index:2;
    opacity:0.95;
    padding:0 10px 5px;
    margin:10px;
}
#banner #dkt_searchBot h2,#banner #tbt_searchBot h2 {
    font-weight:700;
    font-size:20px;
}
#banner #dkt_searchBot p,#banner #tbt_searchBot p {
    font-weight:700;
    font-size:12px;
    margin:2px 0 5px;
}
#banner #dkt_searchBot .controls .btn,#banner #tbt_searchBot .controls .btn {
    background-color:#5A3084!important;
    color:#FFF;
    font-size:15px;
    font-weight:700;
    padding:6px 10px;
}
#banner #dkt_searchBot .search_contacts,#banner #tbt_searchBot .search_contacts {
    margin-top:10px;
}
#banner #dkt_searchBot .help p,.glyphicon-earphone:before,#banner #tbt_searchBot .help p {
    color:#5A3084;
}

#dkt_banner div#regionTabs div#deal-tabs.tabbable div.dropdown ul.dropdown-menu li.level1 a{
    background-color:#FFF;
    color:#562D82;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:14px;
    margin:0 4px 0 0;  
	padding-top:13px;
	padding-bottom:13px;
}
#dkt_banner div#regionTabs div#deal-tabs.tabbable div.dropdown ul.dropdown-menu li.level1 a:hover{
    background-color:#E21E28;
    border-radius:0 0 0 0;
    color:#FFF;
    font-size:14px;
    border-color:none;
    margin:0 4px 0 0;
	padding-top:13px;
	padding-bottom:13px;
}
#dkt_banner ul.desktop-tabs .active a {
    background-color:#E21E28 !important;
    border-radius:0 0 0 0 !important;
    color:#FFF !important;
    font-size:14px !important;
    border-color:none !important;
    margin:0 4px 0 0 !important;
    padding:13px 45px !important;
}
div#regionTabs div#deal-tabs.tabbable div.dropdown ul.dropdown-menu li.active ul.dropdown-menu li a{
    background-color:#FFF !important;
    color:#562D82 !important;
    z-index:0;
    border-radius:0 0 0 0;
    font-size:14px;
    margin:0 4px 0 0;
    padding:13px 45px;
}
#dkt_banner .dropdown-submenu.divider{
	background-color:none !important;
}
#dkt_banner .dropdown-menu .divider,#mbl_banner .dropdown-menu .divider {
    margin:0;
}
#dkt_banner .dropdown-submenu,#mbl_banner .dropdown-submenu {
    position:relative;
}
#dkt_banner .dropdown-submenu>.dropdown-menu,#mbl_banner .dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px;
    border-radius:0 6px 6px 6px;
}
#mbl_banner .dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px;
    border-radius:0 6px 6px 6px;
	width:100%
}
#dkt_banner .dropdown-submenu:hover>.dropdown-menu,#mbl_banner .dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
/* #dkt_banner .dropup .dropdown-submenu>.dropdown-menu,#mbl_banner .dropup .dropdown-submenu>.dropdown-menu {
    top:auto;
    bottom:0;
    margin-top:0;
    margin-bottom:-2px;
    -webkit-border-radius:5px 5px 5px 0;
    -moz-border-radius:5px 5px 5px 0;
    border-radius:5px 5px 5px 0;
}
#dkt_banner .dropdown-submenu>a:after,#mbl_banner .dropdown-submenu>a:after {
    border-color: #CCCCCC rgba(0, 0, 0, 0) -moz-use-text-color;
    border-style: solid solid dotted;
    border-width: 5px 5px 0;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    width: 0;
}
#dkt_banner .dropdown-submenu:hover>a:after,#mbl_banner .dropdown-submenu:hover>a:after {
    border-color: #ccc rgba(0, 0, 0, 0) -moz-use-text-color;
}*/
#dkt_banner .dropdown-submenu.pull-left,#mbl_banner .dropdown-submenu.pull-left {
    float:none;
}
#dkt_banner .dropdown .dropdown-menu .nav-header,#mbl_banner .dropdown .dropdown-menu .nav-header {
    padding-left:20px;
    padding-right:20px;
}
#dkt_banner #regionTabs .dropdown ul.dropdown-menu li.dropdown-submenu,#mbl_menu,#mbl_logo,#mbl_banner.visible-xs div#Regions.modal div.modal-dialog div.modal-body div.dropdown ul.dropdown-menu {
    float:left;
}

.panel-heading > a{
	font-size:14px;
}
.panel-group {margin-bottom:1px !important;}


.carousel-caption h2 {
    color:#FFF;
	font-family:SerifaStd55Roman;
	margin:0;
}

.carousel-caption h3 {
    color:#FFF;
	font-family:SerifaStd55Roman;
	margin:0;
}

.carousel-caption h5 {
    color:#FFF;
    font-weight:700;
	font-family:SerifaStd55Roman;
	margin:0;
	padding:10px;
}
#footPartner{font-size:10px;}
.thterms{font-size:12px;}

.ui-widget-content{
   /*background: #EFEDF3 !important;
   border: 1px solid #4E4E51 !important;*/
   background: #FFFFFF !important;
   border: none !important;
   box-shadow: 5px 5px 5px #888888;
}
#regionTabs{
margin-left:13px;
margin-right:13px;
}
#dkt_banner div#regionTabs div#deal-tabs.tabbable div.dropdown ul.dropdown-menu li.levelActive a {
    background-color: #e21e28;
    border-radius: 0;
    color: #fff;
    font-size: 14px;
    margin: 0 4px 0 0;
    padding-bottom: 13px;
    padding-top: 13px;   
    z-index: 0;
}
/*modified by mohan - 20141023*/
/*banner and text changes - starts here*/
.deal_text1 {
    position: relative;
    float:right;
    background-color: rgb(226, 30, 40);
    color: rgb(255, 255, 255);
	font-size: 250%;
    font-family: SerifaStd55Roman;
    font-weight: normal;
    display: inline-block;    
    padding:15px;
    line-height: 22px;
    clear: both;
}
.deal_text2 {
    position: relative;
    float:right;    
    font-family: SerifaStd55Roman;
    font-weight: normal;
	font-size: 200%;
    display: inline-block;    
    line-height: 1.3;
    clear: both;    
    Background-color:#e21e28;
    color:#fff;
    padding:10px 15px 15px 15px;
}
/*.deal_text3 {
    position: relative;
    float:right;
    background-color: rgb(244, 243, 247);
    font-family: SerifaStd55Roman;
    font-weight: normal;
    display: inline-block;    
    line-height: 12px;
    clear: both;
    color:#000;
    padding:15px 20px 5px 20px;
    Font-size:22px;
    opacity:0.9;
    margin-top: 40px;
}
.deal_text4 {
    position: relative;
    float:right;
    background-color: rgb(244, 243, 247);
    color: #000;
    font-family: SerifaStd55Roman;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;    
    padding:10px 20px 5px 20px;
    line-height: 12px;
    clear: both;
    opacity: 0.9;
}*/
.deal_text5 {
    position: relative;
    float:right;
    background-color: #FCFAFB;
    font-family: SerifaStd55Roman;
    font-weight: normal;
    display: inline-block;    
    line-height: 12px;
    clear: both;
    color:#000;
    padding:20px;
	font-size: 200%;
	margin:10px 0 0 0;
} 
.deal_text6{	
    position: relative;
    float:right;
    background-color: #F8F3F0;
    color: #EF2B2F;
    font-family: "Trebuchet MS";
    font-weight: normal;
	font-size: 170%;
    display: inline-block;    
    padding:10px 20px 10px 20px;
    line-height: 1.2;
    clear: both;
	margin:10px 0 0 0;
}
/*banner and text changes - ends here*/

/*popup check rates - starts here*/
#choseDates {
    max-height: 80px;
    width: 360px;
}
#choseDatesBox {
    float: left;
}
#choseDatesBoxHotelInfo {
    border: 1px solid #eee;
    float: left;
    padding: 3px;
}
#choseDatesBox #choseDatesDates {
    width: 330px;
}
#choseDatesBox input {
    background: url("../../common/img/form-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 5px;
    color: #666;
    font-size: 13px;
    height: 25px;
    padding: 2px 3px;
}
#choseDatesBox .checkin p, #choseDatesBox .checkout p {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
    padding: 2px 0;
    text-shadow: 1px 1px 1px #fff;
}
#choseDatesBox .where input {
    width: 200px;
}
#choseDatesBox .checkin {
    display: inline;
    float: left;
    margin: 5px 15px 0 0;
    width: 95px;
}
#choseDatesBox .checkout {
    display: inline;
    float: left;
    margin: 5px 0 0;
    width: 90px;
}
#choseDatesBox .searchbtn {
    display: inline;
    float: right;
}
#choseDatesBox .checkout input, #choseDatesBox .checkin input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    width: 90px;
}
#choseDatesBox .bigBtn {
    background-color: #562d82;
    background-image: none !important;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    margin: 25px 0 0;
    padding: 8px 24px;
}
#choseDatesBox .hotelimg {
    background-color: #ccc;
    float: left;
    height: 120px;
    width: 180px;
}
#choseDatesBox .hotelInfo {
    float: left;
    margin: 8px 0 10px 10px;
    vertical-align: middle;
    width: 245px;
}
#choseDatesBox .hotelInfo h3 {
    color: #562d82;
    font-size: 15px;
    line-height: 16px;
    margin: 0 0 5px;
    padding: 0;
}
#choseDatesBox .saveBookInfo {
    background: url("../../common/img/dealshadow.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #e21e28;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 100px;
    line-height: 16px;
    padding: 20px 0 0 30px;
    width: 60px;
}
#choseDatesBox .percentage {
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 24px;
}
#choseDatesBox .button a {
    background: url("../../common/img/btn-bg.gif") repeat scroll -5px -5px rgba(0, 0, 0, 0);
    border-radius: 5px;
    bottom: -10px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    left: 0;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 1px #bc3001;
    width: 50px;
}
/*popup check rates - ends here*/

/*error message - starts here*/
.errorMessage {
    color: #cf2726;
    display: inline;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
/*error message - ends here*/

/**/
#hotel_all_search_click{ cursor:pointer; }

/*menu higlights - starts here */
.display_regions {
background-color: #fff;
color: #000;
display: block;
font-size: 15px;
padding: 1px 1px 0 1px;
position: relative;
float:left;
width: 17%;
z-index: 999 !important;
}
.display_regions h4 {
color:#e21e28;
text-align: center;
 font-family: museo_slab500;
 font-size: 18px;
 font-weight: bolder;

}
.display_mobile_regions{
background-color: #fff;
color: #000;
display: block;
font-size: 15px;
padding: 1px 1px 0 1px;
position: relative;
z-index: 999 !important;
}
.display_mobile_regions h4{
color:#e21e28;
text-align: center;
font-family: museo_slab500;
 font-size: 18px;
 font-weight: bolder;
text-decoration:none;
}

.regions_list{
font-family: museo_slab500;
font-size: 16px;
background-color: #fff;
padding: 10px;
width: 100%;
border-bottom:1px solid #C7CFCA;
	}

ul {
	list-style-type: none;
}
li {
	line-height:0.55em;
}
.divider_menu{
border-bottom:2px solid #C7CFCA;
padding:2px 0 2px 0;
}
.tab_divider{
border-bottom:1px solid #C7CFCA;
padding-top:2px ;
width:100%;
}
.country_name_list , .city_name_list{
font-family: museo_slab500;
text-align: center;
padding-top:10px;
padding-bottom:10px;
 font-family: museo_sans300;
 font-size: 14px !important;
}
.country_name_list a, .city_name_list a{color:#636a69;}
.country_name_list a:hover, .city_name_list a:hover{color:#e21e28;text-decoration:none;}
.overview{
width:100%;
}
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #C7CFCA;
  outline: 1px solid #C7CFCA;
}
ul.country_name {
  height: 305px;
  width: 100%;
  overflow: auto;
  margin: 0 auto;overflow-x: hidden;
  
}
.display-cards.row ,.display-cards-gold{
    padding-left: 1%;
}
a.ht-book {margin-left:10px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11{padding:0 !important;}
.hotel_details{padding-top: 19px;}
.mobile_regions{  background-color: #e21e28;
    font-family: museo_sans300 !important;
    font-size: 14px;
    font-weight: bolder;
    height: 31px;
    padding: 28px;
    width: 100%;}
li.mobile_regions a.mobile-menu-icons.mobile-menu-region{ color:#fff;text-align:center;font-size:14pt; padding-left: 25px}
.mobile_divider{border:1px solid #fff}
.rating{border:1px solid #000;}
.member_rewards{margin-top:4px;}
.row_nomargin_banner {margin:0 !important;  background-color: rgb(54, 130, 182);}
.row_nomargin {margin:0 !important; padding:5px;}

text{
	font-family:museo_slab500 !important;
	font-size:12pt !important;
	font-weight:bold !important;
	cursor:pointer !important;
}
/*Gold cards styles */
#hotel_gold_card_block {
 background-color: #562d82 !important;
 color: #fff!important;
 height: auto;
}
.hotel_gold_cards_list{
background-color:#562d82;
}
.hotel_gold_cards{
border: 4px solid #562d82;
background-color:#fff;
margin-left: 12px
}
/*#menu_new li a:hover { background-color:#fff;color:#e21e28; text-decoration:none;}*/

/*mobileTabs*/
#mobileTabs{display:block;}
/** Currency selector **/
    .selector .column.column3 {
        width: 33.33%;
        border-right: 1px solid #ccc;
    }
    .selector .column {
        float: left;
        padding: 4px 0px;
    }
    .selector.currencySelector {
        width: 690px;
        background-color: #f4f4f5;
    }
    .section {
        border-color: #ccc;
    }
    .currencySelector ul {

        padding: 0 18px;
        font-size: 1em;
        /*line-height: 1.167em;*/
    }
    .currencySelector ul li {
        /*background-color: #f4f4f5;*/
        margin: 0;
        font-size: 1em;
        /*line-height: 1.167em;*/
    }
    .currencySelector ul li a:hover {
        background-color: #DDD;
        text-decoration: none;
    }

    .currencySelector ul li a {
        color: #000;
        text-decoration: none;
        display: block;
        padding: 10px;
        border: 0;
        background-image: none;
        white-space: nowrap;
    }
    .selector .section li {
        display: block!important;
        white-space: nowrap;
        width: 100%;
    }
    .selector div{
        padding: 0px;
    }
    .selector .section h5 {
        text-overflow: ellipsis;
        font-size: 1.083em;
        font-weight: bold;
        padding: 15px 0px 0px 10px;
    }
    .selector .top h5 {
        border-top: 1px solid #ccc;
        -moz-box-shadow: 0 -1px 1px -1px #fff;
        -webkit-box-shadow: 0 -1px 1px -1px #fff;
        box-shadow: 0 -1px 1px -1px #fff;
        overflow: hidden;

    }
    .selector .column .section {
        padding: 0 18px 0px;
    }

/*.space_for_button{ margin-top:100px; }*/
#zoom_level{	
	margin:10px;
}
#zoom_menu{
	display:block;
	clear:both;
	margin-top:5px;
}
#canvas {
    width:874px;
    height:350px;
    overflow:hidden;
}
#regions_div{
	left: 0px; 
	top: -75px;
}
.search_input_hotel{ cursor:pointer; }
.hotel_gold_cards{
border: 4px solid #562d82;
background-color:#fff;
}
.hotel_platinum_cards{
 background-color: #fff;
 height: 75px;
 left: 24%;
 position: relative;
 top: 82%;	
 }

#zoom_level{ margin:10px;text-align:right;  }
#zoom_menu{ display:block; clear:both; margin-top:5px;}
#canvas { width:874px; height:350px; overflow:hidden; }
#regions_div{ left: 0px; top: -90px; z-index:1;  }
.search_input_hotel{ cursor:pointer; }
.text_on_map{ float:left; z-index:999; position:absolute; color:#FFF; display: block; font-family:museo_slab500 !important; font-size:11pt !important; }
.banner_default_map{ display: block; float: left; height: 350px !important; padding: 154px 403px; position: absolute;  width: 67%; z-index: 1;background-image: url('/themes/common/img/world_map_default_preload.png'); background-repeat:no-repeat; background-color:#3682B6; }
.world_america{ float:left; position:relative; white-space: nowrap; padding:2px; background-color:#0E4166; top:120px; left:240px; }
.world_europe{ float:left; position:relative; top:100px; left:400px; white-space: nowrap; padding:2px; background-color:#0E4166; }
.world_pacific{ float:left; position:relative; top:250px; left:580px; white-space: nowrap; padding:2px; background-color:#0E4166; }
.world_north_eastern{ float:left; position:relative; top:133px; left:450px; white-space: nowrap; padding:2px; background-color:#0E4166;}
.world_south_eastern{ float:left; position:relative; top:200px; left:340px; white-space: nowrap; padding:2px; background-color:#0E4166;}

.urlPlusImg { width: 22px; height:22px; display:block; background-image: url('/themes/common/img/plus-sign.png'); margin:15px 0 0 250px; } 
.urlPlusImg:hover { background-image: url('/themes/common/img/plus-sign-hover.png'); } 
.urlMinusImg { width: 22px; height:22px; display:block; background-image: url('/themes/common/img/minus-sign.png'); margin:15px 0 0 250px; } 
.urlMinusImg:hover { background-image: url('/themes/common/img/minus-sign-hover.png'); }
.zoom-indicator-medium{ width: 22px; height:85px; display:block; background-image: url('/themes/common/img/zoom-indicator.png');background-repeat: no-repeat;margin:16px 0 0 250px; padding-right:8px; }
.zoom-indicator-high{ width: 22px; height:85px; display:block; background-image: url('/themes/common/img/zoom-indicator.png');background-repeat: no-repeat;margin:16px 0 0 250px; padding:34px 8px 0 0; }

#hotel_gold_card_block {
    background-color: #562d82 !important;
    color: #fff!important;
    height: auto;
}
.hotel_platinum_cards{
border: 4px solid #562d82;
background-color:#fff;
height:75px;
}
.hotel_mobile_platinum_cards{
/*border: 4px solid #562d82;*/
background-color:#fff;
height:490px;
width:400px;
}
.platinum_card_images{
width:100%;
}
.hotel_platinum_name a{
color: #e21e28;
    font-size: 16pt;
    font-weight: bold;
    padding-top: 5px;
    text-overflow: ellipsis;
    line-height: 1em;
    width: 96%;
}
.platinum_hotel_city {
    color: #303030;
    font-size: 12pt;
    font-weight: bold;
    padding-top: 10px;
}
.gold_hotel_review{
padding-top:10px;
float:left;
}
.platinum_book{
background-color: #562d82;
    border-radius: 5px;
    color: #fff;
    font-size: 28pt;
    font-weight: 700;
    height: 66px;
    left: 31px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    top: 37px;
    width: 87%;
}
a.ht-book{
color:#fff;
}
#deal_images{
position: relative;
    right: 73px;
    top: 1px;
	}
    h1 {
        font-family: "museo_slab500";
        font-size: 25px;
        letter-spacing: -1px;
        color: #e21e28 ;
        font-weight:normal;
        text-decoration: none;
        margin: 30px 0px 5px 15px;
    }

    h2, h3 {
        font-family: "museo_slab500";
        font-size: 20px;
        letter-spacing: -0.5px;
        color: #e21e28 ;
        font-variant: normal;
        text-decoration: none;
        margin: 20px 0px 5px 15px;
    }

