$tablet: "(max-width: 768px)";
$desktop: "(max-width: 1280px)";
$full-width: 100%;
$general-width: 180px;
$white-color: #FFF;
$tag-color: #e80f1e;
$cur-color: #55337e;
$cur-hover-color: #ebebeb;
$font-family-val: 'Museo Sans',Verdana, Geneva, sans-serif;
$padding-top: 80px;
$padding-right: 80px;
$padding-bottom: 80px;
$padding-left: 80px;