@charset "UTF-8";
/* CSS Document */

/* Body Elements */

body {
	background: url(../images/assets/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#C1C6C8;
}

/* Header Elements */

.header {
	height:70px;
	background-color:#FFF;
	border-bottom:1px solid #CCC;
}

.header h1 {
	color:#e80f1e;
	font-size:16px;
	font-weight:300;
	letter-spacing:normal;
	font-family: 'museo_slab500', Arial, sans-serif;
}

.logo {
	float:left;
	z-index:9999;
}

.tag-line {
	float:left;
	padding-top:26px;
	padding-left:25px;
}
	@media (max-width: 769px) {
		.tag-line {
			display:none;
		}
	}

.hcfa-register {
	float:right;
	line-height:120%;
	font-size:12px;
	color:#666;
	padding-top:9px;
	font-family: 'museo_sans300', Arial, sans-serif;
	text-align:right;
}

.hcfa-register a:link {
	color: #55337e;
	text-decoration:underline;
}
.hcfa-register a:visited {
	color: #55337e;
	text-decoration:underline;
}
.hcfa-register a:hover {
	color: #55337e;
	text-decoration:underline;
}
.hcfa-register a:active {
	color: #55337e;
	text-decoration:underline;
}

.hcfa-register ul {
	margin-top:8px;
	margin-bottom:0;
	text-align:right;
	
}
.hcfa-register li {
	list-style:none;
}

/* Content Elements */
.content {
	padding-top:60px;
}

.content h1 {
	font-family: 'museo_slab500', Arial, sans-serif;
	font-size:64px;
	line-height:100%;
	color:#FFF;
	font-weight:normal;
	display:block;
	text-align:center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
	padding-bottom:6px;
}
	@media (max-width: 600px) {
		.content h1 {
			font-size:48px;
		}
	}
.intro-txt {
	font-family: 'museo_sans300', Arial, sans-serif;
	font-size:32px;
	line-height:100%;
	color:#FFF;
	font-weight:200;
	display:block;
	text-align:center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
	padding-bottom:6px;
}
	@media (max-width: 600px) {
		.intro-txt {
			font-size:24px;
		}
	}

.content h2 {
	font-family: 'museo_slab500', Arial, sans-serif;
	font-size:20px;
	color:#e80f1e;
	font-weight:normal;
}

.content h3 {
	font-family: 'museo_slab500', Arial, sans-serif;
	font-size:18px;
	color:#000;
	font-weight:normal;
}

.content p {
	font-family: 'museo_sans300', Arial, sans-serif;
	font-size:15px;
	line-height:22px;
	color:#000;
	font-weight:normal;
}

.content-box {
	background-color: rgba(255, 255, 255, .9);
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.content-dislay {
	padding:28px;
}

.white-bg {
	background-color:#FFF;
}

/* How it works img */
.how-it-works-dsk {
	width:100%;
	height:auto;
}
	@media (max-width: 600px) {
		.how-it-works-dsk {
			display:none;
		}
	}
	
	@media (min-width: 600px) {
		.how-it-works-mob {
			display:none;
		}
	}
	@media (max-width: 599px) {
		.how-it-works-mob {
			width:100%;
			height:auto;
		}
	}

/* Footer Elements */

.footer {
	padding-top:25px;
}

.footer p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#999;
	line-height:14px;
	text-align:center;
}

/* Thank you Elements */
.earn-points {
	margin:0 auto;
	width:70%;
	margin-left:15%;
	margin-bottom:24px;
}
	@media (max-width: 769px) {
		.earn-points {
			margin:0 auto;
			width:100%;
			margin-left:0;
			margin-bottom:24px;
		}
	}
	
/* How it works img */
.how-it-works-th-dsk {
	width:100%;
	height:auto;
}
	@media (max-width: 600px) {
		.how-it-works-th-dsk {
			display:none;
		}
	}
	
	@media (min-width: 600px) {
		.how-it-works-th-mob {
			display:none;
		}
	}
	@media (max-width: 599px) {
		.how-it-works-th-mob {
			width:100%;
			height:auto;
		}
	}

.action {
	margin:0 auto;
	width:50%;
	margin-left:25%;
}

	@media (max-width: 769px) {
		.action {
			margin:0 auto;
			width:100%;
			margin-left:0;
		}
	}


/* Modal - Message pop up */
.modal-wrapper {
    width:590px;
    position: absolute !important;
    z-index:999 !important;
}
.cancel-action{
    float:right;
    cursor:pointer;
}
.modal-box {
    #float: left;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    background-color:rgba(255, 255, 255, 1);
    position: absolute;
    top: 10%;
    left: 24%;
    z-index: 15;
    margin: 0 auto;
    height: 650px;
    overflow: scroll;
}
.orbot-in-page{
    position: relative !important;
    z-index: 0;
    left:0%;
    width: 100%;
    margin-bottom: 20px;
    /*height: 360px;*/
}
.parentDisable{
    position:fixed;
    top:0;
    left:0;
    background:#000;
    opacity:0.8;
    z-index:998;
    height:100%;
    width:100%;
}
@media (max-width: 768px) {
    .modal-wrapper {
        float:left;
        background-image:url(../images/assets/modal-box-arrow.png);
        background-repeat:no-repeat;
        background-position:bottom center;
    }
    .modal-box {
        float:left;
        width:100%;
        margin-bottom:15px;
    }
}
.modal-container {
    margin:16px;
}
.modal-row {
    float:left;
    width:100%;
    margin-bottom:16px;
}
.modal-row h3 {
    font-size:18px;
    font-family:'museo_slab500',Verdana, Geneva, sans-serif;
    font-weight:300;
    color:#55337e;
    margin-bottom:0px;
}
.modal-row p {
    font-size:14px;
    font-family:'museo_sans300',Verdana, Geneva, sans-serif;
    font-weight:300;
    color:#333;
    margin-bottom:0px;
    line-height:200%;
}
.modal-row a {
    color:#55337e;
    text-decoration:underline;
}
.modal-input {
    width:95%;
    padding-left:5%;
    height:37px;
    outline:2px solid #dddee0;
    border:0px;
    color:#999999;
}
@media (max-width: 768px) {
    .modal-input {
        width:90%;
        padding-left:10%;
        height:37px;
        outline:2px solid #dddee0;
        border:0px;
        color:#999999;
    }
}
.modal-input-date{
    border: 0 none;
    color: #999999;
    height: 37px;
    outline: 2px solid #dddee0;
    padding-left: 6%;
    width: 42%;
    z-index:999 !important;
}
@media (max-width: 768px) {
    .modal-input {
        width:90%;
        padding-left:10%;
        height:37px;
        outline:2px solid #dddee0;
        border:0px;
        color:#999999;
    }
}
.modal-marker {
    background-image:url(../images/assets/orbot-marker.png);
    background-repeat:no-repeat;
    background-position:7px 9px;
}
.modal-calendar {
    /*background-image:url(../images/assets/orbot-calendar.png);
    background-repeat:no-repeat;
    background-position:7px 9px;
    background-color:#FFF;*/
}
.modal-dropdown-select, .modal-dropdown-select-child {
    width:100%;
    padding-left:10%;
    height:37px;
    color:#999999;
    border-radius:0px;
    border: 0 !important;  /*Removes border*/
    outline:2px solid #dddee0;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    background: url('../images/assets/orbot-down-arrow.png');
    background-position:top right;
    background-repeat:no-repeat;
    background-color:#FFF;

    text-indent: 0.01px;
    text-overflow: "";
}
.modal-dropdown-select-child {
    background-position: 29px 3px !important;
    background-size: 19px 33px;
}
.modal-row-height{
    display:block;
    clear:both;
    height:auto;
}
.modal-dropdown-select-date {
    width:100%;
    padding-left:10%;
    height:37px;
    color:#999999;
    border-radius:0px;
    border: 0 !important;  /*Removes border*/
    outline:2px solid #dddee0;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    background: url('../images/assets/orbot-down-arrow.png');
    background-position:top right;
    background-repeat:no-repeat;

    text-indent: 0.01px;
    text-overflow: "";

    font-size:14px;
    font-family:'museo_sans300',Verdana, Geneva, sans-serif;
    font-weight:300;
}
.modal-orbot-add{
    clear: both;
    float: right;
    font-size: 11px;
    width: 49%;
}
.room-val{
    border:1px solid #000;
}
.orbot-select-rooms{
    cursor:pointer;
    float:left;
    margin: 10px 2px;
    text-decoration: underline;
}
.orbot-remove-rooms{
    display: none;
    cursor:pointer;
    margin: 10px 2px;
    text-decoration: underline;
}
.orbot-divider{
    display:none;
    float:left;
    margin: 10px 2px;
}
@media (max-width: 768px) {
    .modal-dropdown-select-date {
        padding-left:15%;
    }
}
.modal-row-button {
    background-color:#55337e;
    background-image:url(../images/assets/next-arrow.png);
    background-repeat:no-repeat;
    background-position:center right;
    color:#FFF !important;
    font-family:'museo_sans300',Verdana, Geneva, sans-serif;
    text-decoration:none !important;
    display:block;
    float:right;
    font-size:16px;
    text-align:center;
    width:50%;
    padding-top:11px;
    padding-bottom:10px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
}

.modal-cancel {
    float:left;
    margin-top:-16px;
    margin-bottom:0px !important;
}
@media (max-width: 768px) {
    .modal-row-button {
        width:100%;
    }
    .modal-cancel {
        float:left;
        margin-top:5px;
        margin-bottom:0px !important;
    }
}

#popup-model {
    display: none;
}