/*body{
	background-color: #FFF;
	color: #bbb;
}*/
#SliderWrap a{
	color: #e11c2b;
}
#SliderWrap h2 {
	color: #ccc;
}
div#pageslider {
	background-color: #ffffff;
	border-color: #222;
}
#SliderWrap #footer {
	color: #888;
}
div.caption-container {
	color: #231d14;
}
div.image-title {
	position:relative;
	top:-18px;
	font-family:"SerifaStd55Roman", Helvetica;
	font-weight: bold;
	font-size: 1.75em;
}
div.image-desc {
	position:relative;
	top:-25px;
	line-height: 1.3em;
	padding-top:15px;
}

div.photo-index {
	color: #888;
}
div.navigation a.prev {
	background-image:url(prevPageArrow.gif);
}
div.navigation a.next {
	background-image:url(nextPageArrow.gif);
}
div.loader {
	background-image: url(loaderWhite.gif);
}
div.slideshow img {
	position:relative;
	top:-15px;
	border-color: #333;
}
ul.thumbs li.selected a.thumb {
	background: #fff;
}
div.pagination a:hover {
	background-color: #111;
}
div.pagination span.current {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}
