$base-font-family: Arial,Helvetica,sans-serif;
$base-font-size1: 11px;
$base-font-size2: 12px;
$base-font-size3: 13px;
$base-color: #FFA0A0;
$base-line-height: 1.167em;
$menu-divider-color: #000;
$base-link-color: #562D82;
$hotel_image_height: 120px;
$test-border-color: #ccc;
$hotel_border_color:#E21E28;

body{
	font-size: $base-font-size2;
	font-family: $base-font-family;
	line-height: $base-line-height;
}

.subContainer{
	border:1px solid $test-border-color;
	padding: 10px;
}

.subContainer.visible-desktop{
  padding: 10px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	line-height: $base-line-height;
}

#header{
	line-height: $base-line-height;
	font-size: $base-font-size1;
	ul.primary{
		float: right;
		padding: 15px 15px 0 0;
		li{
			border-right: 0.083em solid $menu-divider-color;
			float: left;
			padding: 0 9px;
		}
		.last{
			border: 0px solid #CCCCCC;
			padding-right: 0px;
		}
	}
	
	ul.login{
		clear: right;
		float: right;
		padding: 10px 15px 0 0;
		li{
			float:left;
			padding:0 0.25em;
			color:#333333;
		}
	}
	
	li.loyaltyInfo{
		font-weight:bold;
	}
}

#header, #footer{
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

a, a:link, .link{
	color: $base-link-color;
}

.link{
	cursor: pointer;
	padding-bottom: 0;
}

.logo{
	padding-left: 20px;
}

#headMenu{
	font-size: $base-font-size3;
	border-bottom: 5px solid $hotel_border_color;
	padding-right: 25px;
	ul{
		list-style-type: none;
		margin: 0;
	}
}

.left_menu li{
	float: left;
	padding: 5px 0 0;
	text-align: left;
	min-width: 134px;
	margin-right: 10px;
}

.left_menu li, .right_menu > li{
	border-top: 2px solid $hotel_border_color;
}

.nav > li > a{
	display: inline;
	padding-right: 3px;
}

.navbar-nav > li > a{
	padding-top: 5px;
	padding-bottom: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
 border-color:none;
 border:none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li a { 
    background: none repeat scroll 0 0 #FFFFFF;  
    color: $base-link-color;
    margin: 0px 4px 0 0;
    padding: 13px 20px;
    z-index: 0;
    font-size:14px;
    border-radius: 0 0 0 0;
    }

div#regionTabs div#deal-tabs.tabbable ul.nav li.active a {
	background: none repeat scroll 0 0 $hotel_border_color;
	color: #FFFFFF;
	border-color:none;
	margin: 0px 4px 0 0;
	padding: 13px 20px;
	font-size:14px;
	border-radius: 0 0 0 0;
}
#banner {
	 z-index: 1;
	}
.container {  max-width: 990px; }

#searchBot {
	background: none repeat scroll 0 0 #F4F3F7;
	border: 0.167em solid #E9E6EE;
	left: 98px;
	padding: 10px;
	position: absolute;
	background-size: 100% 100% ;
	z-index: 2;
	top: 155px;

       h2 { font-weight:bold; font-size:20px; }

       p { font-weight:bold; font-size:12px; margin:2px 0px 5px 0px }
} 

.check-input{ width:110px; }

#searchBot .controls .btn { 
	background-color: #5A3084 !important; 
	color:white;
	font-size:15px;
	font-weight: bold;
}

.deal-tabs {
    left: 10px;
    position: relative;
    top: 379px;
}

.nav-tabs{ border:0px solid #CCC; }

.input-size-search{
	width:140px;
}

.red-line {
    border-top: 5px solid $hotel_border_color;
    height: 5px;
    position: absolute;
    width: 959px;
}
.hotelDeal{
	border-bottom: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	float: left;
	margin-bottom: 9px;
	padding: 3px;

	a {
	text-decoration: none;
	}
} 

.image_section{
    height: $hotel_image_height;
    left: 0;
    position: relative;
    top: 0;
    width: 180px;
    float:left;
}

.middle-offer-section{
    height: $hotel_image_height;
    max-width: 175px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    float:left;
}

#tab1,#tab2,#tab3,#tab4{
	margin:24px;
}
.purple-color {
	color: $base-link-color;
	font-weight: bold;
}

.campaign-promo-offer {
	font-size: $base-font-size2;
	font-weight: bold;
	line-height: 1.1em !important;
	margin: 0;
	padding: 3px 0;
	word-wrap: break-word;
}

.hotelInfo {
	    float: left;
	    margin: 8px 0 10px 10px;
	    vertical-align: middle;
	    width: 200px;

	 h3 {
	    color: $base-link-color;
	    font-size: 15px;
	    line-height: 9px;
	    margin: 0 0 3px;
	    padding: 0;
	}
}

.saveBookInfo {
	background: url("../img/dealshadow.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: $hotel_border_color;
	font-size: $base-font-size2;
	font-weight: bold;
	height: $hotel_image_height;
	padding: 0 0 0 20px;
	width: 80px;
	line-height: 16px;
	position: relative;
	text-align: center;
	float:left;
	}
   
.percentage {
    color: $hotel_border_color;
    font-size: 24px;
    letter-spacing: -2px;
    line-height: 24px;
    text-align: center;
}

p.inclusions {
    color: #999999;
    font-size: 10px;
    font-weight: normal !important;
    margin: 2px 0 0;
    padding: 0;
}


.hotel-image-text {
    background-image: url("../img/ce_location_background.png");
    height: 20px;
    left: 0;
    position: relative;
    top: -19px;
    
}

.hotel-location {
    color: #FFFFFF;
    left: 5px;
    max-height: 20px;   
    overflow: hidden;
    position: relative;
    top: 0;
}
.ce-star {
    float: right;
    margin-top: -12px;
    position: relative;
    text-indent: -10000em;
	left:41px;
    
}
.button a {
    background: none repeat scroll 0 0 $base-link-color;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: $base-font-size2;
    font-weight: bold;
    height: 20px;
    left: -8px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    
}
#footMenu .footerLinks > li{
	border-right: 0.083em solid #000000;
	float: left;
	list-style: none;
	margin: 0.083em;
	a{
		padding:4px;
	}
}

#foot_img{
	float: left;
	padding-right: 10px;
}
